* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

h1 {
  text-align: center;
  margin: 15px 0 25px 0;
}

.container {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bottom-content {
  margin: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.difficulty-container {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  background-color: white;
  padding: 3px;
}

button:hover {
  background-color: whitesmoke;
}

.symbol {
  font-weight: bold;
  font-size: 24px;
}

.score-text {
  text-align: center;
  font-size: 16px;
}


/* THE BOARD */
.squares-parent {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}

.squares {
  border: 2px solid black;
  font-size: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  pointer-events: none;
}

.squares:hover {
  background-color: whitesmoke;
}

#top-left { border-style: none solid solid none; }
#top-mid { border-style: none solid solid solid; }
#top-right { border-style: none none solid solid; }
#mid-left { border-style: solid solid solid none; }
#mid-right { border-style: solid none solid solid; }
#btm-left { border-style: solid solid none none; }
#btm-mid { border-style: solid solid none solid; }
#btm-right { border-style: solid none none solid; }